<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Récapitulatif du panier
            </h5>
            <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul id="cartSection"></ul>
        </div>
        <div class="modal-footer">
            <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
            >
                Fermer
            </button>
            <button
                    onclick="accessPayment('cart', cartList, 'cart')"
                    type="button"
                    class="btn btn-primary"
                    id="accessPayment"
            >
                Accéder au paiement
            </button>
        </div>
    </div>
</div>