<div class="container">
    <a class="navbar-brand" href="">
        <img src="https://img.icons8.com/pastel-glyph/30/CEEDEE/shop.png"/> Shopi</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <!-- Button trigger modal -->
                <a class="nav-link text-primary"
                   type="button"
                   data-toggle="modal"
                   onclick="openCart()
                    accessPage('cart', cartList, 'accessPayment')"
                   id="cart"
                   data-target="#panier"
                >
                    Panier
                </a>
            </li>
        </ul>
    </div>
</div>