<h1 class="my-4">Shopi</h1>
<div class="list-category-sticky">

    <div id="categoryList" class="list-group"></div>

    <div class="input-group mt-4">
        <input class="form-control" type="number" id="prixMin" placeholder="prix min"/>
        <input class="form-control" type="number" id="prixMax" placeholder="prix max"/>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" onclick="filterByPrice()">Filtrer le prix</button>
        </div>
    </div>

    <div class="btn-group mt-4">
        <button class="btn btn-outline-primary" onclick="filterBy('asc')">
            <i class="fa fa-caret-up"></i>
            Prix croissant
        </button>
        <button class="btn btn-outline-primary" onclick="filterBy('desc')">
            Prix décroissant
            <i class="fa fa-caret-down"></i>
        </button>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-secondary" onclick="getProducts()">Reinitialiser les filtres</button>
    </div>

</div>